<!-- <nav>
  {% for item in site.data.nav %}
    <a href="{{ item.url | relative_url }}"
       class="{% if page.url == item.url %}active{% endif %}">
      {{ item.title }}
    </a>
  {% endfor %}
</nav> -->

<button class="nav-toggle" id="nav-toggle" aria-expanded="false" aria-controls="site-menu" aria-label="Toggle menu">☰</button>

<nav id="site-menu" class="site-menu" role="navigation">
  {% for item in site.data.nav %}
    <a href="{{ item.url | relative_url }}"
       class="nav-link {% if page.url == item.url %}active{% endif %}">
      {{ item.title }}
    </a>
  {% endfor %}
</nav>
